doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Books
      p 
        a(class="button" href="/books/new") Create New Book 

    table
      thread 
        tr 
          th #{Title} 
          th #{Author} 
          th #{Genre} 
          th #{Year} 
    
    block content